.parent{
    width: 100vw;
    height: 100vh;
    display: flex;

}
.left{
    width:30% ;
    height: 100%;
    background-color: aqua;
    overflow: auto;
}
.right{
display: flex;
align-items: center;
    width: 70%;
    height: 100%;
    background-color: chocolate;
    overflow: auto;
}