.parent{
    width: 100vw;
    height: 100vh;
    display: flex;

}
.left{
    width:30% ;
    height: 100%;
    background-color: aqua;
    overflow: auto;
}
.right{
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    border: 10px;
    margin: 10px;
    padding: 10px;
    background-color: chocolate;
    overflow: auto;
}